<div>
  <% @students.each do |student| %>
  <% if student == nil %>
  	<p>There is no student here.</p>
  	<% else %>
    <h1><%= link_to student.to_s, student_path(student) %></h1>
  <% end %>
  
  <% end %>
</div>
